<header>
    <div class="row">
        <div class="container-fluid">
            <div class="top_menu_wrapper">
                <div class="col-lg-6 col-md-6">
                	<a class="logo" href="/">
                		<img class="img-responsive" alt="Biroul de Donatii" src="../img/logo.png">
                	</a>
                </div>
                <div class="col-lg-6 col-md-6">
                	<div class="menu">
                		<a href="/">Acasa</a>
                		<a href="/">Despre noi</a>
                		<a href="/">Principii</a>
                		<a href="/">Functionare</a>
                		<a href="/">Contact</a>
                	</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="container-fluid">
			<div class="mid-image">
				<form>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput">Example label</label>
				    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Another label</label>
				    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
				  </fieldset>
				</form>
			</div>	
    	</div>
    </div>
</header>